html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

html::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
}

.container {
  scrollbar-width: thin;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  font-family: "Roboto";
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.brand-navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
}

.header .brand-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.header .logo {
  height: 40px;
}

.header .name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.header .name {
  color: white;
  font-family: "Cabin";
  font-size: 18px;
  letter-spacing: 9px;
  font-weight: 600;
}

.header .slogan {
  color: gray;
  font-family: "Cabin";
  font-size: 12px;
  letter-spacing: 3.2px;
  font-weight: 400;
}

.header ul {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  color: white;
  list-style: none;
}

.header ul li {
  position: relative;
  cursor: pointer;
}

.header ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.header ul li:hover {
  .link-line {
    width: 100%;
  }
}

.link-line {
  position: absolute;
  left: 0;
  height: 2px;
  bottom: -5px;
  border-radius: 1px;
  width: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.27356880252100846) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -webkit-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  -ms-transition: width 0.5s linear;
}

.login {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #ffffff30;
  border-radius: 15px;
  list-style: none;
  color: white;
  text-decoration: none;
}

.mobile-menu-button {
  display: none !important;
  color: white !important;
}

.home {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-us {
  height: 100vh;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .header ul {
    display: none;
  }
  .mobile-menu-button {
    display: flex !important;
  }
}

.carousel-container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.developer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff77;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.developer .personal {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.developer .personal img {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 30px;
}

.developer .personal .name-container {
  display: flex;
  flex-direction: column;
}

.developer .personal .name {
  font-size: 15px;
  font-weight: 500;
}

.developer .personal .regno {
  font-size: 12px;
  font-weight: 400;
  color: #000000aa;
}

.developer .personal .bio {
  font-size: 11px;
  font-weight: 400;
  color: #000000;
  text-align: justify;
  margin-top: 10px;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.developer .socialmedia-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.developer .socialmedia-container img {
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
}

.title {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
}

.main-title-container {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-title-container img {
  height: 400px;
}

.main-title {
  color: white;
  font-family: "Cabin";
  font-size: 80px;
  letter-spacing: 9px;
  font-weight: 800;
}

.sub-title {
  color: white;
  font-family: "Cabin";
  font-size: 30px;
  letter-spacing: 9px;
  font-weight: 400;
}

.login-links-container {
  padding-left: 5%;
  padding-right: 5%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  position: relative;
  width: 250px;
  height: 88px;
}

.wave {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  perspective: 100px;
}

.wave > div {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.wave > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}

.top-wave > div::before {
  background-color: green;
}

.top-wave > div {
  animation: move 3s ease-in-out infinite reverse;
}

.top-wave > div::before {
  animation: grow 3s linear infinite reverse;
}

.bottom-wave > div {
  animation: move 3s ease-in-out infinite;
}

.bottom-wave > div::before {
  animation: grow 3s linear infinite;
}

.wave > div:nth-child(10) {
  animation-delay: 0s;
}
.wave > div:nth-child(9) {
  animation-delay: -0.1s;
}
.wave > div:nth-child(8) {
  animation-delay: -0.2s;
}
.wave > div:nth-child(7) {
  animation-delay: -0.3s;
}
.wave > div:nth-child(6) {
  animation-delay: -0.4s;
}
.wave > div:nth-child(5) {
  animation-delay: -0.5s;
}
.wave > div:nth-child(4) {
  animation-delay: -0.6s;
}
.wave > div:nth-child(3) {
  animation-delay: -0.7s;
}
.wave > div:nth-child(2) {
  animation-delay: -0.8s;
}
.wave > div:nth-child(1) {
  animation-delay: -0.9s;
}

.bottom-wave > div:nth-child(10) {
  animation-delay: 0.75s;
}
.bottom-wave > div:nth-child(9) {
  animation-delay: 0.65s;
}
.bottom-wave > div:nth-child(8) {
  animation-delay: 0.55s;
}
.bottom-wave > div:nth-child(7) {
  animation-delay: 0.45s;
}
.bottom-wave > div:nth-child(6) {
  animation-delay: 0.35s;
}
.bottom-wave > div:nth-child(5) {
  animation-delay: 0.25s;
}
.bottom-wave > div:nth-child(4) {
  animation-delay: 0.15s;
}
.bottom-wave > div:nth-child(3) {
  animation-delay: 0.05s;
}
.bottom-wave > div:nth-child(2) {
  animation-delay: -0.05s;
}
.bottom-wave > div:nth-child(1) {
  animation-delay: -0.15s;
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(88px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(88px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes grow {
  0%,
  50%,
  75%,
  100% {
    transform: scaleX(0.7) scaleY(0.7);
  }
  10%,
  60% {
    transform: scaleX(1) scaleY(1);
  }
  35%,
  85% {
    transform: scaleX(0.4) scaleY(0.4);
  }
}
