@media only screen and (max-width: 700px) {
  .check-patient-student-list {
    position: static !important;
    height: 400px !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    width: auto !important;
  }

  .check-patient-content {
    position: static !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
  }
}
